#img{
	display: inline-block;
	margin-right: 10px;
} 
#img img {
	width: 120px;
	height: 80px;
}
#search {
	background-color: #000;
	width: 130px;
	height: 40px;
	border-radius: 3px;
}
#input {
	width: 50%;
	height: 40px;
	display: inline-block;
}
#user {
	display: inline-block;
	float: right;
	width: 20%;
	margin-top: 15px;
}
#user img {
	width: 55px;
	width: 55px;
	border-radius: 30px;
	border: 1px #585858 solid;
}